/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal {
  background: white;
  padding: 15px 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 10px #000
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -12.5px;
  right: -12.5px;
  background: center / contain no-repeat url("./assets/circle-xmark.png");
  border: none;
  cursor: pointer;
}
