.selectmenu {
  position: relative;
  display: inline-block;
  width: 200px;
}

.selectmenu select {
  display: none;
}

.select-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}
.select-button.open {
  border-radius: 4px 4px 0px 0px;
}

.select-button::after {
  content: "v";
  float: right;
  margin-right: 10px;
}

.select-list {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  border: 1px solid #c5c5c5;
  border-radius:  0px 0px 4px 4px;
  background-color: white;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style: none;
}

.select-option {
  padding: 3px 1em 3px .4em;
  cursor: pointer;
}

.select-option:hover,
.select-option.focus {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}
