.selectmenu {
  position: relative;
  display: inline-block;
  width: 16em;
}

.selectmenu select {
  display: none;
}

.select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 16px;
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}
.select-button.open {
  border-radius: 4px 4px 0px 0px;
}

.select-button > svg {
  transition: 300ms ease-in-out ;
}

.select-button.open > svg {
  transform: rotate(-180deg);
}

.select-list {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  border: 1px solid #c5c5c5;
  border-radius:  0px 0px 4px 4px;
  background-color: white;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.select-option {
  padding: 3px 1em 3px .4em;
  cursor: pointer;
}

.select-option:hover,
.select-option.focus {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}
